h1 {
    color: white;
}

/* * {
    border: solid;
} */

.header{
    background-color: cadetblue;
    display: flex;
    border: solid;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

.header *{
    border:solid;
    margin-right: 10px;
    padding-left: 15px;
}

.menu{
   border: solid;
   margin-right: 15px;
   padding-left: 15px;
}

a:link{
    color: rgb(188, 34, 219);
}

a:visited{
    color: burlywood;
}

.item{
    position: relative;
}
.item p{

    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    opacity:0;
}

.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 30%;
}